<nav>
    <div class="filter-navbar">
        <form action="/listings/filter" id="my-form"></form>
        <div class="filter" type="button">
            <i class="fa-solid fa-water-ladder"></i>
            <p>Amazing pools</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-tractor"></i>
            <p>Farms</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-bell-concierge"></i>
            <p>Luxe</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-hotel"></i>
            <p>Tiny Homes</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-water"></i>
            <p>LakeFront</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-umbrella-beach"></i>
            <p>Beachfront</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-house"></i>
            <p>Cabins</p>
        </div>
        <div class="filter">
            <i class="fa-brands fa-fort-awesome"></i>
            <p>Castles</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain-sun"></i>
            <p>Top of the world</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-campground"></i>
            <p>Camping</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-igloo"></i>
            <p>Igloos</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mug-hot"></i>
            <p>Bed & Breakfasts</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-sailboat"></i>
            <p>Boats</p>
        </div>
        <div class="filter">
            <i class="fa-regular fa-snowflake"></i>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-golf-ball-tee"></i>
            <p>Golfing</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-palette"></i>
            <p>Creative Spaces</p>
        </div>
        <div class="filter" role="button">
            <i class="fa-solid fa-person-skating"></i>
            <p>Ski-in/out</p>
        </div>
    </div>
</nav>